#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=HeadsetControl GUI
Comment=Nowoczesny panel sterowania słuchawkami
Exec=/home/dziaslo/PycharmProjects/headsetcontrol-gui/start_gui.sh --autostart
Icon=audio-headphones
Terminal=false
Hidden=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
Categories=AudioVideo;Audio;Settings;

